body {
    font-family: "PT Sans Caption", sans-serif;
}
.font-head {
    font-family:"PT Sans Caption", sans-serif; 
    font-size: 50px;
    line-height: 60px;
    color: #2f2f2f;
    width: fit-content;
}
main {
    min-height: 100vh;
    background-color: #FFF8E3;
}
main h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    isolation: isolate;
}

main h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #FFC5C5;
    transition: height 350ms;
    z-index: -1;
}
main h1:hover::before {
    height: 50%;
  }
  
.bookmark-body {
    border-width: 2px 0 2px 0;
    border-style:groove;
    border-color: #352e28;
}
.bookmark-body h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #FFD0D0,#D2649A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF9EAA;
    --bs-btn-border-color: #FF9EAA;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D63484;
    --bs-btn-hover-border-color: #D63484;
}
table {
    vertical-align: middle !important;
}
.box-info {
    background-color: #0007;
}
.fa-book-bookmark , .fa-link:before {
    color: #D2649A;

}
.bg-visit{
    background-color:#FF9EAA;
    color: #fff;
}
.bg-update{
    background-color: #F075AA;
    color: #fff;
}
.bg-delete{
    background-color: #BC5A94;
    color: #fff;
}

.bg-delete:hover,.bg-update:hover,.bg-visit:hover{
    border-style: solid;
    border-color:#8E3E63;
}